@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos Globales para suavizar fuentes */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9fafb;
  /* gray-50 de Tailwind */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* NOTA: Las animaciones personalizadas (fade-in, shake, etc.) 
  las configuraremos en el archivo tailwind.config.js 
  para mantener este archivo CSS limpio.
*/